<div class="app-layout transition-colors duration-200">
  <div class="layout-content flex min-h-0 flex-1">
    <app-sidebar></app-sidebar>

    <main
      class="app-main flex min-h-0 flex-1 flex-col overflow-hidden transition-colors duration-200"
    >
      <app-header></app-header>

      <div class="main-content flex-grow overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  @for (dialog of dialogService.dialogs(); track dialog.id) {
    @if (dialog.component) {
      <ng-container
        *ngComponentOutlet="dialog.component; inputs: dialog.inputs; outputs: dialog.outputs"
      ></ng-container>
    }
  }

  <app-connection-modal #connectionModal></app-connection-modal>
  <app-loading-overlay></app-loading-overlay>
  <app-toast-container></app-toast-container>
  <app-shortcuts-help-dialog></app-shortcuts-help-dialog>
</div>
