<div class="flex h-full w-full min-w-0 flex-col overflow-hidden">
  <div class="max-h-[calc(100vh-380px-80px)] min-h-0 flex-1 overflow-hidden">
    <app-data-table-grid
      class="block h-full w-full"
      [collectionName]="collectionName()"
      [filter]="filter()"
      [page]="page()"
      [pageSize]="pageSize()"
      [inputVisibleColumns]="inputVisibleColumns()"
      [columns]="columns()"
      [reloadTrigger]="reloadTrigger()"
      (documentClick)="documentClick.emit($event)"
      (pageChange)="pageChange.emit($event)"
      (columnsOrderChange)="columnsOrderChange.emit($event)"
    ></app-data-table-grid>
  </div>

  <app-pagination
    class="flex-shrink-0"
    [totalItems]="totalItems()"
    [currentPage]="page()"
    [pageSize]="pageSize()"
    (pageChange)="pageChange.emit($event)"
    (pageSizeChange)="pageSizeChange.emit($event)"
  ></app-pagination>
</div>
