<div class="flex items-center gap-2">
  @if (options.length === 0) {
    <span class="text-sm text-gray-400">Loading...</span>
  }
  <div
    class="hidden rounded-lg border border-[var(--border-visible)] p-1 lg:inline-flex"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (wheel)="onWheel($event)"
  >
    @for (option of options; track option.id) {
      <button
        class="flex items-center gap-2 rounded-md border px-3 py-1.5 text-sm font-medium transition-colors"
        [class.border-[var(--accent)]]="active === option.id"
        [class.text-black]="active === option.id"
        [class.text-[var(--text-main)]]="active !== option.id"
        [class.border-transparent]="active !== option.id"
        [class.hover:bg-[var(--bg-elevated)]]="active !== option.id"
        (click)="onSelect(option.id)"
      >
        @if (option.icon) {
          <mat-icon
            class="h-4! w-4! min-w-4 text-base!"
            [class.text-black]="active === option.id"
            [class.text-[var(--text-muted)]]="active !== option.id"
            [fontIcon]="option.icon"
          />
        }
        {{ option.label }}
      </button>
    }
  </div>

  <div class="flex items-center gap-2 lg:hidden">
    <button
      class="flex h-min items-center gap-2 rounded-lg border border-[var(--border-visible)] p-3 text-[var(--text-main)] transition-colors hover:bg-[var(--bg-elevated)]"
      [matMenuTriggerFor]="selectorMenu"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      (wheel)="onWheel($event)"
    >
      @if (getActiveOption()?.icon) {
        <mat-icon class="h-5! w-5! min-w-5 text-xl!" [fontIcon]="getActiveOption()!.icon!" />
      }
      <span class="hidden font-medium md:inline">{{ getActiveOption()?.label }}</span>
      <mat-icon class="h-4! w-4! min-w-4 text-base!" fontIcon="expand_more" />
    </button>
    <mat-menu
      #selectorMenu="matMenu"
      style="--mat-menu-container-color: var(--bg-card) !important"
      class="overflow-hidden rounded-xl border border-[var(--border-visible)] shadow-2xl"
    >
      <ng-container
        *ngTemplateOutlet="
          menuItemTemplate;
          context: { options: options, active: active, select: select }
        "
      />
    </mat-menu>
  </div>
</div>

<ng-template #menuItemTemplate let-options="options" let-active="active" let-select="select">
  @for (option of options; track option.id) {
    <button
      mat-menu-item
      (click)="select.emit(option.id)"
      class="flex w-full items-center gap-3"
      [class.text-[var(--accent)]]="active === option.id"
    >
      @if (option.icon) {
        <mat-icon
          class="size-5! min-w-5 text-xl!"
          [class.text-[var(--accent)]]="active === option.id"
          [class.text-[var(--text-muted)]]="active !== option.id"
          [fontIcon]="option.icon"
        />
      }
      <span [class.font-bold]="active === option.id">{{ option.label }}</span>
    </button>
  }
</ng-template>
